.container-drag {
	text-align: center;
}

.wip {
	position: absolute;
	width: 150px;
	height: 100vh;
	left: 0;
	top: 10;
	background-color: #eeeeee;
	border-right: 1px dotted;
}

.task-header {
	display: inline-block;
	background-color: skyblue;
	width: 100%;
}

.droppable {
	position: absolute;
	width: 150px;
	height: 100vh;
	right: 0;
	top: 10;
	background-color: #9e9e9e;
	border-left: 1px dotted;
}

.draggable {
	width: 100px;
	height: 100px;
	background-color: yellow;
	margin: 5px auto;
	line-height: 5em;
}
