.container_drag {
	height: 100%;
}

.container_drag .row {
	height: 100%;
}

.container_drag .form_elements_container,
.container_drag .build_form_container {
	padding: 20px;
}

.container_drag .form_elements_container {
	background-color: #f7f7f9;
}

.container_drag .build_form_container {
	background-color: #eff0f1;
}

.container_drag .content_container {
	height: calc(100% - 40px);
}

.container_drag .form_container {
	display: relative;
}

.form {
	display: inline;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding: 10px;
	min-width: 400px;
	max-width: 400px;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, .125);
	background-color: white;
}

.form .form_building_area {
	min-height: 40px;
	background-color: #f7f7f9;
	padding: 10px;
}

.form .submit_button {
	margin-top: 15px;
	display: block;
	width: 100%;
}

.form_elements_container .elements_holder {
	border-radius: 4px;
	padding: 10px;
	height: 100%;
	background-color: white;
}

.elements_holder .single_element_holder {
	padding: 10px;
	background-color: #f7f7f9;
	margin: 10px 0px;
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, .125);
}

.elements_holder .single_element_holder p {
	padding: 5px 0px;
	margin: 0px;
}

.elements_holder .single_element_holder *,
.form_building_area .single_element_holder * {
	width: 100%;
}

.form_building_area .single_element_holder * {
	margin: 5px 0px;
}
